better-scm-comparison/branches/xslt-transformation/comparison.dtd

<!ELEMENT comparison (meta,contents)>
<!ELEMENT meta (implementations)>
<!ELEMENT implementations (impl+)>
<!ELEMENT impl (name)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT contents (section)>
<!ELEMENT section (title,expl?,compare?,section*)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT expl (#PCDATA)>
<!ELEMENT compare (s+)>
<!ELEMENT s (#PCDATA|a)*>
<!ELEMENT a (#PCDATA)>
<!ATTLIST section id ID #REQUIRED>
<!ATTLIST a href CDATA #REQUIRED>
<!ATTLIST s id CDATA #REQUIRED>
<!ATTLIST impl id CDATA #REQUIRED>
